{% extends 'layout.html' %}
{% block title %}Search Results: {{question_text}} {% endblock %}
{% block body %}
<h1>Is your question already answered?</h1>
{% if g.current_user %}
<p>Take a look at the similar questions below.  If yours isn't there, create it!</p>
{% else %}
<p>You'll need to log in above in order to ask a new question.</p>
{% endif %}
<form method="post" action="{{ url_for('create') }}">
    <input type="text" name="question" value="{{question_text}}">
    <button type="submit" {% if not g.current_user %}disabled{% endif %}>Create</button>
</form>

<ul>
{% for question in search_results %}
<li><a href="{{ question.url }}">{{ question.text }}</a>
{% endfor %}
</ul>

{% endblock %}
