{% extends 'layout.html' %}
{% block title %}{{question.text}}{% endblock %}
{% block head %}
<script>
$(document).ready(function(){
    var data = {{ tool_texts|safe }}
    var tool_field = $("#tool")
    var fave_tools = $('#fave_tools')
    var tool_template = tmpl("your_tool_template")
    var answer_url = "{{ url_for('answer',question_id=question.id)}}"

    function things_have_changed(){
        $('#save').attr('disabled',null).text('Save')
    }

    function check_the_box(lowercase_tool_name, checked){
        $('#tools [value='+lowercase_tool_name+']').attr('checked', checked ? 'checked' : null)
    }

    function add_a_tool(tool_name){
        fave_tools.append(tool_template({name:tool_name}))
        things_have_changed()
    }

    // Hackishly check the checkboxes.  This could be done server-side.
    _.each(fave_tools.find('.tool').toArray(), function(node){
        check_the_box($(node).attr('data-lowercase-name'), true)
    })

    tool_field.autocomplete(data);
    fave_tools.sortable({stop:things_have_changed})

    $("#suggest-tool").submit(function(event){
        event.preventDefault()

        var tool_name = tool_field.val()
        tool_field.val('')

        var lowercase_tool_name = tool_name.toLowerCase()
        check_the_box(lowercase_tool_name, true)

        // Don't add the same tool twice
        if (fave_tools.find('.tool[data-lowercase-name='+lowercase_tool_name+']').length) return

        add_a_tool(tool_name)
    })

    $('#save').click(function(event){
        event.preventDefault()
        var save_button = $(event.target)
        save_button.attr('disabled','disabled').text('Saving...')

        var tool_nodes = fave_tools.find('.tool').toArray()
        var tool_list = _.map(tool_nodes, function(node){
            return $(node).text()
        })
        var data = JSON.stringify(tool_list)
        $.ajax({url:answer_url, data:data, type:'POST', contentType:'application/json',
            success:function(data){
                save_button.text("Saved")
                window.location.reload()
            }
        })
    })

    $('.remove').live('click', function(event){
        event.preventDefault()
        var item = $(event.target).parents('li')
        var lowercase_tool_name = item.find('.tool').attr('data-lowercase-name')
        check_the_box(lowercase_tool_name, false)
        item.remove()
        things_have_changed()
    })

    $('[name=used]').live('change', function(event){
        var checkbox = $(event.target)
        var tool_name = checkbox.attr('data-name')
        if (checkbox.attr('checked')){ // added
            add_a_tool(tool_name)
        } else { // removed
            fave_tools.find('[data-lowercase-name='+tool_name.toLowerCase()+']').parents('li:first').remove()
            things_have_changed()
        }
    })

});
</script>

<script type="text/html" id="your_tool_template">
    <li><a class="remove">x</a> <span class="tool" data-lowercase-name="<%= name.toLowerCase() %>"><%= name %></span>
</script>

{% endblock%}
{% block body %}
<h1>{{ question['text'] }} <span class="little">
        {% if g.current_user ==  question.user %}
        <a href="{{question.edit_url}}">Edit</a>
        {% endif %}
</span></h1>

{% if question.created_by == g.current_user %}
<p>You created this question recently, so <a href="{{question.edit_url}}">you can edit it</a>.</p>
{% endif %}

{% if not g.current_user %}
<p>If you would like to answer this question, please log in above.</p>
{% else %}
<p>To answer this question, suggest tools you have used for this task and arrange them in the order of your preference.</p>

<p>Click <button id="save" disabled>Save</button> when you are finished.</p>

<h2>Suggest a Tool</h2>
<form id="suggest-tool">
    <input type="text" name="tool" id="tool">
    <button>Suggest</button>
</form>

{% endif %}

<div class="left_half">
<h2>Top Tools</h2>
<ol id="tools">
{% for tool in canonical_answers %}
<li>{{ tool.name }}
<div class="smallnote">
    <label for="used_{{tool.name.lower()}}">
        {% if g.current_user %}
        <input type="checkbox" id="used_{{tool.name.lower()}}" name="used" data-name="{{tool.name}}" value="{{tool.name.lower()}}">
        I've used this</label>
        {% endif %}
</div>
{% endfor %}
</ol>
</div>

{% if g.current_user %}
<div class="right_half">
<h2>Your Tools</h2>
<ol id="fave_tools" class="sortable">
    {% for tool in your_answers %}
    <li><a class="remove">x</a> <span class="tool" data-lowercase-name="{{tool.name.lower()}}">{{tool.name}}</span>
    {% endfor %}

</ol>
</div>
{% endif %}
{% endblock %}
