{% extends 'layout.html' %}
{% block body %}
<h1>You need to set up Webfinger</h1>
<p>It looks like your email address isn't associated with an OpenID yet.
You may need to edit your webfinger profile.</p>
<p><a href="http://webfinger.org/lookup/{{email}}">Visit WebFinger.org to find out how</a>.</p>
<p>If you're using a GMail address, webfinger will tell you that you already have a profile.  You don't.  Click the "edit your profile" link in the third paragraph and save it.  Then it will work.</p>
{% endblock %}
