<!doctype html>
<html><head>
<title>What's the Best Tool for the Job?  Find out what to try first.</title>
<META NAME="Description" CONTENT="You want to start a project, but first you need to pick the right tools.  Unfortunately, there are so many of them!  We'll help you decide where to start.">
<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.dimensions.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
  {% block head %}
  {% endblock %}
</head><body>
{% block body %}



{% endblock %}
</body></html>
